.wrapper {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #888;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 18px;
    color: #888;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 30px;
  }
  
  span {
    display: inline-block;
    min-width: 30px;
    text-align: center;
    color: red;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: rgb(50, 50, 50);
  }
  
  button:active {
    background-color: #004080;
  }
